| A encomenda ##{invoiceId} foi criada com sucesso.
| O seu cliente de email não consegue renderizar o email.
| Aceda ao painel de administrador para ver mais informações sobre a encomenda: #{orderUrl}
