{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:security/recommended"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": false
    },
    "sourceType": "module"
  },
  "globals": {
    "strapi": true
  },
  "plugins": ["security"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-console": 0
  }
}
