| A sua encomenda #{invoiceId} está pronta para ser recolhida na nossa loja.
| O seu cliente de email não consegue renderizar o email.
| Aceda à área cliente no nosso site para ver mais informações sobre a sua encomenda: #{orderUrl}