| A sua encomenda #{invoiceId} foi enviada.
| Estima-se que a encomenda demore até 4 dias úteis a chegar ao seu destino.
| O seu cliente de email não consegue renderizar o email.
| Aceda à área cliente no nosso site para ver mais informações sobre a sua encomenda: #{orderUrl}