| A sua encomenda ##{invoiceId} foi cancelada pois o respetivo pagamento não foi efetuado dentro do prazo limite.
| O seu cliente de email não consegue renderizar o email.
| Aceda à área cliente no nosso site para ver mais informações sobre a sua encomenda: #{orderUrl}