p 
  a(href="https://g.page/livrariaepapelaria-espaco?share")
    | Av. Combatentes da Grande Guerra 51
    br
    | 1495-039 Algés, Portugal
  br
  | Telefone:
  |
  a(href="tel:214114076") 214114076
  br
  | Email:
  |
  a(href="mailto:livraria@lpespaco.pt") livraria@lpespaco.pt