extends ../layout/layout.pug

block header
  //- :tada: emoji (Party Popper)
  h1 Pagamento efetuado! &#x1F389;

block prepend content
  p Estimado(a) #{clientName},
    br
    | Este email confirma o pagamento da sua encomenda. Para mais informações, aceda à
    |
    a(href=orderUrl) área cliente no nosso site
    | .
    |
    case shippingMethod
      when "STORE_PICKUP"
        | Receberá um email quando a sua encomenda estiver pronta para recolha na nossa loja.
      when "CTT"
        | Receberá um email quando a sua encomenda for enviada.